@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #cdfffc;
  margin: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.social__container {
  position: fixed;
  top: 200px;
  left: 0;
  z-index: 1000;
}
.social__container .social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.social__container .social i {
  font-size: 20px;
  color: #fff;
}
.social__container .facebook {
  background-color: #3b5998;
}
.social__container .instagram {
  background: linear-gradient(90deg, #4f5bd5, #5851db, #962fbf, #d62976, #fa7e1e, #feda75);
}
.social__container .youtube {
  background-color: #c4302b;
}
.social__container .github {
  background: #333;
}
.social__container .social:hover {
  width: 80px;
}

.card {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  /*  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 280px 170px 80px;
  grid-template-areas: "image" "text" "stats"; */
  border-radius: 18px;
  background: #ffe4e4;
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.card .card-image-1,
.card .card-image-2,
.card .card-image-3,
.card .card-image-4,
.card .card-image-5,
.card .card-image-6 {
  height: 250px;
}
.card .card-image-1 {
  background-image: url("../img/img1.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: top;
}
.card .card-image-2 {
  background-image: url("../img/img2.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: top;
}
.card .card-image-3 {
  background-image: url("../img/img3.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: top;
}
.card .card-image-4 {
  background-image: url("../img/img4.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: top;
}
.card .card-image-5 {
  background-image: url("../img/img5.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: top;
}
.card .card-image-6 {
  background-image: url("../img/face1.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: top;
}
.card .card-text {
  padding: 10px;
  box-sizing: border-box;
}
.card .card-text .date {
  color: #ff577f;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.card .card-text p {
  color: grey;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.card .card-text h2 {
  font-weight: bold;
  font-size: 28px;
  margin: 0;
}
.card .card-stats {
  /* grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: $card-stats; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #ff577f;
}
.card .card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
.card .card-stats .stat i {
  font-weight: normal;
}

.card:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=card.css.map */
