@mixin card-image($url) {
    background-image: url($url);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    background-position: top;
}

@mixin alineacion-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}