@mixin card-image($url) {
    grid-area: image;
    background: url($url);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

@mixin alineacion-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}