.social__container {
    position: fixed;
    top: 200px;
    left: 0;
    z-index: 1000;
    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 70px;
        cursor: pointer;
        transition: all 0.5s ease;
        i {
            font-size: 20px;
            color: #fff;
        }
    }
    .facebook {
        background-color: #3b5998;
    }
    .instagram {
        background: linear-gradient(90deg, #4f5bd5, #5851db, #962fbf, #d62976, #fa7e1e, #feda75);
    }
    .youtube {
        background-color: #c4302b;
    }
    .github {
        background: #333;
    }
    .social:hover {
        width: 80px;
    }
}