$primary: #ff577f;
$secondary: #ff884b;
$success:#ffe4e4;
$dark:#cdfffc;
$white: #fff;
//Body
$body:$dark;
//card-stats
$card-text: $success;
$card-stats:$primary;
//fuente
$fuente-roboto: 'Roboto',
sans-serif;
$fuente-poppins: 'Poppins',
sans-serif;